/* Header.css */

/* Estilo básico para el contenedor del nav */
.nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  /* Estilo para cada elemento del nav */
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
 
  .nav a:hover {
    background-color: #555;
  }
  
  
  .nav a.active {
    background-color: #f00; 
  }
  