/* table, th, td, tr{
    border: 1px solid aquamarine;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
} */

th, td {
    
    padding: 7px 7px 7px 7px;
    border-bottom: 1px solid #ddd;
  }



